<p class="pa">Details  Traning</p>
<div  class ="detail">
  <div class="element "> <p style="color: black;"> ID:                 {{formation.id}}</p> </div>
  <div class="element "> <p id="p" > Date:                              {{date}}</p> </div>
  <div class="element "> <p id="p" > Topic:                             {{formation.domaine}}</p> </div>

  <div class="element "> <p id="p">  Salle:                             {{formation.nomSalle}}</p> </div>
  <div class="element "> <p id="p"> Heure Debut:                         {{heurdeb}}   </p> </div>
  <div class="element "> <p id="p"> Heure Fin:                           {{heurfin}}</p> </div>
</div>
